.footer {
  font-size: .875rem;
  color: #9a9a9a;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
.footer-item {
  padding: 1rem;
  margin: 0;
}
.footer a {
  font-weight: normal;
  font-style: italic;
  color: #515151;
}
@media (min-width: 30em) {
.footer {
    font-size: .75rem;
}
.copyright {
  text-align: center;
  color: #9a9a9a;
}
.version-control {
  font-size: 0.75em;
}
